
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
 <div class="collapse navbar-collapse" id="navbarText"> 
  <div id=navi>
  <ul id=unorder class="nav nav-pills">
            <a class="nav-link register-custom" routerLink="userRole">Trip Details</a> 
    </ul>
    </div>
    
</div>
<td><img src="assets/userLogo.png"> </td>
<td><tr>{{token.getUsername()}} </tr>
    <tr><a class="logout"   
        routerLinkActive="active-link"  
         routerLink="/login">Logout</a></tr></td>


</nav>

<!-- <router-outlet></router-outlet> -->
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
       

        
    <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CustomerName. </th>
            <td mat-cell *matCellDef="let trip"> {{trip.customerName}} </td> 
    </ng-container>
    <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeName. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.employeeName}} </td> 
    </ng-container>
    <ng-container matColumnDef="vehicleNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> VehicleNo. </th>
      <td mat-cell *matCellDef="let trip"> {{trip.vehicleNo}} </td> 
    </ng-container>
    
    <ng-container matColumnDef="fromLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PickUpLocation. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.fromLocation}} </td> 
    </ng-container>
    <ng-container matColumnDef="toLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DropLocation. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.toLocation}} </td> 
    </ng-container>
    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VehicleType. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.vehicleType}} </td> 
      </ng-container>
      <ng-container matColumnDef="seater">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seater. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.seater}} </td> 
      </ng-container>
      <ng-container matColumnDef="travelCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TravelCost. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.travelCost}} </td> 
      </ng-container>
      <ng-container matColumnDef="travelStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TravelStatus. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.travelStatus}} </td> 
      </ng-container>
      <ng-container matColumnDef="travelDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TravelDate. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.travelDate}} </td> 
      </ng-container>
      <ng-container matColumnDef="travelTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TravelTime. </th>
        <td mat-cell *matCellDef="let trip"> {{trip.travelTime}} </td> 
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>


